---
import Spotify from "@components/Spotify.astro";
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import Paypal from "@components/Paypal/Paypal.astro";
---

<div><Spotify /></div>
<div><Paypal /></div>
